<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %> 
<body>
    <div class="about content">
        <h2>About us</h2>
        <p>my name is vipul guru</p>
        <p>I study at IIIT naya raipur</p>
        <p>I am currently at 6th semester in my college</p>
    </div>
</body>
</html>